.dotted-spaced {
  background-image: linear-gradient(to right, currentColor 10%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 8px 1px;
  background-repeat: repeat-x;
}

@media only screen and (min-width: 768px) {
  .dotted-right {
    background-image:  
      linear-gradient(currentColor 10%, rgba(255, 255, 255, 0) 0%); 
    background-position: top right; 
    background-size: 1px 8px; 
    background-repeat: repeat-y;
  }

  .dotted-left { 
    background-image:  
      linear-gradient(currentColor 10%, rgba(255, 255, 255, 0) 0%); 
    background-position: top left; 
    background-size: 1px 8px; 
    background-repeat: repeat-y; 
  }
}

.squiggle.active {
  @apply bg-no-repeat bg-bottom; 
  background-image: url( '/static/images/squiggle.svg' );
  background-position: bottom;
  background-size: 90%;
}

.squiggle:not(.active):hover {
  @apply bg-no-repeat bg-bottom; 
  background-image: url( '/static/images/squiggle.svg' );
  background-size: 90%;
}

.grid-background {
  background-size: 16px 16px;
  background-position: 50% 0;
  background-image: linear-gradient(to right, rgb(235, 235, 235) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(rgb(235, 235, 235) 1px, rgba(0, 0, 0, 0) 1px);
}

.blocky-shadow {
  box-shadow: 5px 5px hsl(var(--color-secondary-light));
}

.newsletter {
  position: relative;
  z-index: 1;
}

.input-container {
  @apply relative flex flex-col;
}

.input-container:focus-within label {
  @apply text-primary;
  transform: translate(0, 12px) scale(0.8);
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  @apply absolute pointer-events-none left-[16px] text-primary;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  font-size: 16px;
  line-height: 1;
}

.input-container input {
  @apply h-16 rounded-full border-none pt-6 pr-4 pb-1 pl-4 outline-none shadow-none; 
  font-size: 16px;
  line-height: 1;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {
  box-shadow: 0 0 0 2px var(hsl(--color-secondary-light));
}
