@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  --index-window-bg: #c0c0c0;
  --index-window-inactive: #dedede;
  --index-window-border: #000;
  --index-window-border-inactive: #525252;
  --index-shadow-light: #fff;
  --index-shadow-dark: #9c9c9c;
  --index-title-light: #737373;
  --index-title-dark: #737373;
  --index-title-color: #000;
  --index-title-color-inactive: #737373;
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  --color-text: #111;
  --color-number: #999;
  --color-bg: #fff;
  --color-link: #1352d1;
  --color-link-hover: #111;
  color: var(--color-text);
  /* background: #63639c; */
  background-color: white;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  @apply text-accentFirst;
  text-decoration: none;
  outline: none;
}

a:hover {
  @apply text-accentFirst-darker;
  outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
button:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid #443ffc;
  outline-offset: 3px;
}

a:focus-visible {
  background: none;
}

.menubar {
  display: flex;
  height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid var(--index-window-border);
  background-color: var(--index-window-bg);
  box-shadow: inset 1px 1px 0 var(--index-shadow-light), inset -1px -1px 0 var(--index-shadow-dark);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.menubar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.35));
  z-index: 100;
}

.menubar li {
  position: relative;
  z-index: 100;
}

.menubar .divider {
  border-top: 2px solid #eee;
  margin: 0.25em 0;
}

.menubar ul ul {
  background: white;
  border-radius: 0 0 0.25em 0.25em;
  flex-direction: column;
  left: 0;
  padding: 0.25em 0;
  position: absolute;
  top: -1000em;
  white-space: nowrap;
  z-index: 100;
}

.menubar ul ul ul {
  border-radius: 0.25em;
  z-index: 100;
}

.menubar a {
  color: inherit;
  cursor: default;
  display: block;
  font-size: 14px;
  padding: 0.25em 0.75em;
  text-decoration: none;
  z-index: 100;
}

.menubar [disabled],
.menubar [tabindex="-1"] {
  cursor: not-allowed;
  opacity: 0.4;
}

.menubar [data-key] {
  display: flex;
}

.menubar [data-key]::after {
  content: attr(data-key);
  display: inline-block;
  font-size: inherit;
  margin-left: auto;
  padding-left: 1em;
}
.menubar a:hover,
.menubar a:focus,
.menubar li:hover > a,
.menubar li:focus-within > a {
  background: rgb(var(--color-primary-lighter));
  color: white;
  outline: 0 none;
  z-index: 101;
}
.menubar [tabindex="-1"]:hover {
  background: transparent;
  color: inherit;
  z-index: 100;
}
.menubar a:hover + ul,
.menubar a:focus + ul,
.menubar li:hover > ul,
.menubar ul:focus-within {
  top: 100%;
  z-index: 100;
}
.menubar ul ul a:hover + ul,
.menubar ul ul a:focus + ul,
.menubar ul ul li:hover > ul,
.menubar ul ul ul:focus-within {
  left: 100%;
  top: -0.25em;
  z-index: 100;
}
.menubar svg {
  display: inline-block;
}
.menubar svg path {
  fill: currentcolor;
}

.wavy a {
  display: inline-block;
  margin: 20px 0;
  position: relative;
  @apply font-mono text-sm text-primary;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.wavy a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: -45px;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
  transform-origin: right;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B stroke:%23ECA650; stroke-width:2; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
    0px 50%/80px 80px repeat-x;
}

.wavy a:hover {
  @apply text-accentThird-darker;
}

.wavy a:hover:before {
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: left;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:%23ECA650; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
    0px 50%/80px 80px repeat-x;
  -webkit-animation: waving 3s linear infinite;
  animation: waving 3s linear infinite;
  transform: scaleX(1);
}
@-webkit-keyframes waving {
  to {
    background-position: 80px 50%, 160px 50%;
  }
}
@keyframes waving {
  to {
    background-position: 80px 50%, 160px 50%;
  }
}

.content {
  display: grid;
  margin: 0 auto;
  padding: 0 25px;
  max-height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 4rem;
  grid-row-gap: 1rem;
  justify-content: center;
  list-style: none;
}

.content__item {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.content__item:last-of-type {
  padding-right: 10px;
}

.content__item::before {
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  @apply bg-tertiary-lighter text-primary-darker;
  pointer-events: auto;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--hyperion {
  @apply text-white bg-secondary-lighter border-secondary;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  padding: 1rem 1.5rem;
  overflow: hidden;
}

.button--hyperion span {
  display: block;
  position: relative;
}

.button--hyperion > span {
  overflow: hidden;
}

.button--hyperion > span > span {
  overflow: hidden;
  mix-blend-mode: difference;
}

.button--hyperion:hover > span > span {
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
  to {
    transform: translate3d(0, -105%, 0);
  }
}

@keyframes MoveUpEnd {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.button--hyperion::before {
  @apply bg-secondary border-secondary-dark border-solid border-2;
  content: "";
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  transform-origin: 100% 50%;
}

.button--hyperion:hover::before {
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  --offset: 1rem;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 1s linear infinite;
  animation-play-state: paused;
  opacity: 0;
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  font-style: italic;
  padding: 1rem 0.5rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.button--kari {
  @apply font-mono;
  border-radius: 50%;
  border: 2px solid rgb(var(--color-accentFirst-light));
}

.button--kari > span {
  display: inline-block;
  transition: opacity 0.1s;
}

.button--kari:hover > span {
  opacity: 0;
}

.button--kari .marquee {
  transform: rotate(-2.75deg);
}

.button--kari:hover .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.6s;
}

.button--pallene {
  @apply bg-accentFirst-light text-accentFirst-darker border-accentFirst-darker border-2 border-solid;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 0px rgb(var(--color-accentFirst-dark));
  transition: border-radius 0.3s, box-shadow 0.3s, color 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pallene:hover {
  @apply text-accentFirst-darker bg-accentFirst-lighter;
  border-radius: 50%;
  box-shadow: inset 0 0 0 40px rgb(var(--color-accentFirst-darker));
  transition-delay: 0s, 0s, 0.2s;
}

.button--kari .marquee {
  transform: rotate(-2.75deg);
}

.button--kari:hover .marquee__inner {
  @apply text-tertiary-darker;
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.6s;
}

.button--kari > span {
  @apply text-tertiary-darker;
  display: inline-block;
  transition: opacity 0.1s;
}

.button--kari:hover > span {
  opacity: 0;
}

.button--kari .marquee {
  transform: rotate(-2.75deg);
}

.button--kari:hover .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.6s;
}

.button--pandora {
  @apply bg-primary-dark;
  font-weight: 700;
  padding: 0;
  border-radius: 5px;
}

.button--pandora span {
  @apply bg-primary-lighter text-primary-darker;
  display: block;
  padding: 1.5rem 2rem;
  border: 1px solid #fff;
  border-radius: 5px;
  transform: translate3d(-4px, -4px, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pandora:hover span {
  transform: translate3d(-8px, -8px, 0);
}

@keyframes MoveRightInitial {
  to {
    transform: translate3d(105%, 0, 0);
  }
}

@keyframes MoveRightEnd {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.button--narvi {
  font-weight: bold;
  background: none;
}

.button--narvi::before {
  @apply bg-accentSecond-lighter;
  content: "";
  z-index: -1;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 80% 70%, 75% 70%, 0 70%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 80% 70%, 75% 70%, 0 70%);
  transition: clip-path 0.3s cubic-bezier(0.7, 0, 0.2, 1), -webkit-clip-path 0.3s cubic-bezier(0.7, 0, 0.2, 1), transform 0.3s ease;
}

.button--narvi:hover::before {
  transform: translate3d(0, -10px, 0);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 86% 100%, 75% 70%, 0 70%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 86% 100%, 75% 70%, 0 70%);
}

.button--narvi span {
  @apply text-accentSecond-darker;
  display: block;
  position: relative;
}

.button--narvi > span {
  transition: transform 0.3s;
  transform: translate3d(0, -0.556rem, 0);
  z-index: 1;
  overflow: hidden;
}

.button--narvi:hover > span {
  transform: translate3d(0, -1.111rem, 0);
}

.button--narvi:hover > span > span {
  animation: MoveUpInitial 0.15s forwards, MoveUpEnd 0.15s forwards 0.15s;
}

.button--hati {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid;
  background: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.button--hati:hover {
  background: none;
}

.button--hati::before {
  @apply bg-primary-darker;
  animation: rotateIt 10s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bacdf8' fill-opacity='0.31'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  content: "";
  width: 300%;
  height: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  opacity: 0;
  transform-origin: 50% 50%;
  transition: opacity 0.3s;
}

@keyframes rotateIt {
  to {
    transform: rotate(-360deg);
  }
}

.button--hati:hover::before {
  opacity: 0.7;
}

.button--hati span {
  display: block;
  position: relative;
  z-index: 1;
}

.button--hati span:hover {
  @apply text-primary-darker;
}

.window {
  position: absolute;
  display: grid;
  grid-template-rows: 21px auto 4px;
  grid-template-columns: 4px auto 4px;
  border: 1px solid var(--index-window-border);
  background-color: var(--index-window-bg);
  box-shadow: inset 1px 1px 0 var(--index-shadow-light), inset -1px -1px 0 var(--index-shadow-dark);
}

.window-titlebar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  user-select: none;
  margin-right: 1px;
}

.window-button {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  padding: 0;
  border: 1px solid var(--index-window-border);
  background-image: linear-gradient(to bottom right, var(--index-shadow-dark), var(--index-shadow-light));
  box-shadow: 1px 1px 0 var(--index-shadow-light), -1px -1px 0 var(--index-shadow-dark), inset 1px 1px 0 var(--index-window-bg),
    inset -1px -1px 0 var(--index-shadow-dark);
}

.window-button:active {
  background-image: linear-gradient(to bottom right, #444, #aaa);
  box-shadow: 1px 1px 0 var(--index-shadow-light), -1px -1px 0 var(--index-shadow-dark);
}

.window-button + .window-button {
  margin-left: 5px;
}

.window-button_maximize::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-bottom: 1px solid var(--index-window-border);
  border-right: 1px solid var(--index-window-border);
}

.window-button_shade::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid var(--index-window-border);
  border-bottom: 1px solid var(--index-window-border);
}

.window-title {
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: bold;
  color: var(--index-title-color);
}

.window-title::before,
.window-title::after {
  content: "";
  flex: 1;
  height: 12px;
  /* TODO: add offset to the right and left sides of the pattern */
  background-image: repeating-linear-gradient(var(--index-title-light), var(--index-title-dark) 2px);
  margin-left: 5px;
  margin-right: 5px;
}
.window-border_left {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  cursor: ew-resize;
}
.window-border_right {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  cursor: ew-resize;
}
.window-border_bottom {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  cursor: ns-resize;
}
.window-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #fff;
  border: 1px solid var(--index-window-border);
  box-shadow: 1px 1px 0 var(--index-shadow-light), -1px -1px 0 var(--index-shadow-dark);
  overflow-y: auto;
}

/* Inactive windows */
.window_inactive {
  --window-bg: var(--index-window-bg-inactive);
  --window-border: var(--index-window-border-inactive);
  --shadow-dark: transparent;
  --shadow-light: transparent;
  --title-color: var(--index-title-color-inactive);
}
.window_inactive .window-button {
  visibility: hidden;
}
.window_inactive .window-title::before,
.window_inactive .window-title::after {
  visibility: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
